<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <label><b><u>LOGIN</u></b></label><br>

<table>
    <tr>
    <td><label>USER NAME</label></td>
   <td><input type="text" name="username" placeholder=""></td>
    </tr>

      <tr>
    <td><label>PASSWORD</label></td>
   <td><input type="password" name="password" placeholder=""></td>
    </tr>

</table>
    <input type="submit" name="button1" value="login">


</form>
{% for msg in messages %}
<h1>{{msg}}</h1>
{% endfor %}
</body>
</html>
